<h1> Data Science Tools and Ecosystem </h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Tensorflow
5. Scikit-Learn

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| RStudio            |
| Google Colab       |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

<h2>Author</h2>
    
Huy Nguyen